<h3>
   <span translate="brand-add.label.new">
      New Brand
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="brandForm">

    <div class="form-group"
         ng-class="{'has-success':andOperator(brandForm.brandName.$valid,brandForm.brandName.$dirty),
               'has-error':andOperator(brandForm.brandName.$invalid,brandForm.brandName.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="brand-add.label.brandName">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
        <div class="col-sm-8">
            <input class="form-control"
                   name="brandName"
                   required="true"
                   ng-attr-placeholder="{{'brand-add.label.brandName'|translate}}"
                   ng-model="brand.brandName"
            ></input>
            <p class="error text-danger"
               ng-show="andOperator(brandForm.brandName.$error.required, brandForm.brandName.$dirty)"
               translate="brand-add.validator.brandName.required">Brand name is required</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <button type="button"
                    class="btn btn-primary btn-lg pull-right"
                    ng-attr-title="{{'brand-add.button.save'|translate}}"
                    ng-click="saveBrand()"
                    ng-disabled="questionnaireTemplateForm.$invalid">

                <i class="fa fa-save"></i>
                <span translate="brand-add.button.save">Save</span>
            </button>
        </div>
        <div class="col-md-1">
            <a ui-sref="brand.list" ng-attr-title="{{'brand-add.button.cancel'|translate}}"
               class="btn btn-default pull-right">
                <i class="fa fa-undo"></i>
                <span translate="brand-add.button.cancel">Cancel</span>
            </a>
        </div>
    </div>
</form>
