<h3>
   <span>
      {{'brand-list.label'|translate}}
   </span>
</h3>
<div class="row">
    <div class="col-md-4">
        <h4 translate="brand-list.label.count"
            translate-values="{count:'{{brands.length}}'}"></h4>
    </div>
    <div class="col-md-6">
        <div ng-show="loading">
            <i class="fa fa-spinner fa-spin"></i>
            <span class="text-lowercase">{{'brand-list.label.loading'|translate}}</span>
        </div>
    </div>
    <div class="col-md-2">
        <a class="btn btn-success"
           ui-sref="brand.add">
            <i class="fa fa-plus-square"></i>
            <span class="hidden-xs"
                  translate="brand-list.label.add">
            Create Brand
         </span>
        </a>
    </div>
</div>

<h4 class="text-center"
    ng-show="!brands.length">
    {{'brand-list.label.noData'|translate}}
</h4>

<div ng-show="brands.length">
    <div class="row row-header-bottom">
        <div class="hidden-xs col-md-10">{{'brand-list.label.brand.brandName'|translate}}</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row row-custom" ng-repeat="brand in brands">
        <div class="col-xs-7 col-md-10">
            {{brand.brandName}}
        </div>
        <div class="col-md-2">
            <a
                    class="btn btn-danger"
                    ng-click="deleteBrand(brand.brandId)">
                <i class="fa fa-times"></i>
                <span class="hidden-xs"
                      translate="brand-list.label.delete">
               Brand delete
            </span>
            </a>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-cog fa-5x fa-spin"></i>
                    <h4>{{'brand-list.label.loading'|translate}} </h4>
                </div>
            </div>
        </div>
    </div>
</div>
