<h3>
   <span translate="myaccount-add.label.new">
      New Myaccount
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="myaccountForm">
   
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.iban.$valid,myaccountForm.iban.$dirty),
               'has-error':andOperator(myaccountForm.iban.$invalid,myaccountForm.iban.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-add.label.iban">IBAN</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="iban" 
                required="true"
                ng-attr-placeholder="{{'myaccount-add.label.iban'|translate}}"
                ng-model="myaccount.iban"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.iban.$error.required, myaccountForm.iban.$dirty)"
            translate="myaccount-add.validator.iban.required">Iban is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.balance.$valid,myaccountForm.balance.$dirty),
               'has-error':andOperator(myaccountForm.balance.$invalid,myaccountForm.balance.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-add.label.balance">Balance</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="balance" 
                required="true"
                ng-attr-placeholder="{{'myaccount-add.label.balance'|translate}}"
                ng-model="myaccount.balance"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.balance.$error.required, myaccountForm.balance.$dirty)"
            translate="myaccount-add.validator.balance.required">Balance is required</p>
      </div>
   </div>
 
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.currency.$valid,myaccountForm.currency.$dirty),
               'has-error':andOperator(myaccountForm.currency.$invalid,myaccountForm.currency.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-add.label.currency">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                required="true"
                ng-model="myaccount.currencyId"
                >
            <option ng-repeat="currency in currencys" value="{{currency.currencyId}}">{{currency.symbol}}</option>
         </select>
         
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.currency.$error.required, myaccountForm.currency.$dirty)"
            translate="myaccount-add.validator.currency.required">Currency is required</p>
      </div>
   </div>
  
   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'myaccount-add.button.save'|translate}}"
                 ng-click="saveMyaccount()" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="myaccount-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ng-click="cancel()" ng-attr-title="{{'myaccount-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="myaccount-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
