<div class="row">
   <div class="col-md-3">
      <div class="row">
         <span class="col-md-9 col-xs-9">
            <label class="medium-size-font">
               {{myaccount.startDate}} - {{myaccount.finishDate}}
            </label>
         </span>
      </div>
   </div>
</div>
<div class="hidden-xs">
   <div ui-view=""></div>
</div>
