<h3>
   <span>
      {{'currency-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-4">
      <h4 translate="currency-list.label.count"
          translate-values="{count:'{{currencys.length}}'}"></h4>
   </div>
   <div class="col-md-6">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'currency-list.label.loading'|translate}}</span>
      </div>
   </div>
   <div class="col-md-2">
      <a class="btn btn-success"
         ui-sref="currency.add" >
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="currency-list.label.add" >
            Create Currency
         </span>
      </a>
   </div>
</div>

<h4 class="text-center"
    ng-show="!currencys.length">
   {{'currency-list.label.noData'|translate}}
</h4>

<div ng-show="currencys.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-10">{{'currency-list.label.currency.symbol'|translate}}</div>
      <div class="col-md-2"></div>
   </div>
   <div class="row row-custom" ng-repeat="currency in currencys ">
      <div class="col-xs-7 col-md-10">
            {{currency.symbol}}
      </div>
      <div class="col-md-2">
<!--         <a class="btn btn-primary"
            ui-sref="currency.edit({id: currency.currencyId})" >
            <i class="fa fa-pencil-square-o"></i>
            <span class="hidden-xs" 
                  translate="currency-list.label.edit" >
               Currency Edit
            </span>
         </a>-->
         <a 
            class="btn btn-danger"
            ng-click="deleteCurrency(currency.currencyId)">
            <i class="fa fa-times"></i>
            <span class="hidden-xs" 
                  translate="currency-list.label.delete" >
               Currency delete
            </span>
         </a>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'currency-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
