<h3>
   <span translate="credit-edit.label.edit">
      New User
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="creditForm">
   <div class="form-group" 
        ng-class="{'has-success':andOperator(creditForm.type.$valid,creditForm.type.$dirty),
               'has-error':andOperator(creditForm.type.$invalid,creditForm.type.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.type">Type</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                 required="true"
                 ng-model="credit.type"
                 >
            <option  value="house">{{'credit-edit.type.house'|translate}}</option>
            <option  value="money">{{'credit-edit.type.money'|translate}}</option>
            <option  value="car">{{'credit-edit.type.car'|translate}}</option>
            <option  value="study">{{'credit-edit.type.study'|translate}}</option>
         </select>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.type.$error.required, creditForm.type.$dirty)"
            translate="credit-edit.validator.type.required">Type is required</p>
      </div>
   </div>
   <div class="form-group"
        ng-class="{'has-success':andOperator(creditForm.contribution.$valid,creditForm.contribution.$dirty),
               'has-error':andOperator(creditForm.contribution.$invalid,creditForm.contribution.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.contribution">contribution</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="contribution" 
                required="true"
                ng-attr-placeholder="{{'credit-edit.label.contribution'|translate}}"
                ng-model="credit.contribution"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.contribution.$error.required, creditForm.contribution.$dirty)"
            translate="credit-edit.validator.contribution.required">contribution is required</p>
      </div>
   </div>

   <div class="form-group"
        ng-class="{'has-success':andOperator(creditForm.minValue.$valid,creditForm.minValue.$dirty),
               'has-error':andOperator(creditForm.minValue.$invalid,creditForm.minValue.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.minValue">minValue</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="minValue" 
                required="true"
                ng-attr-placeholder="{{'credit-edit.label.minValue'|translate}}"
                ng-model="credit.minValue"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.minValue.$error.required, creditForm.minValue.$dirty)"
            translate="credit-edit.validator.minValue.required">minValue is required</p>
      </div>
   </div>

   <div class="form-group"
        ng-class="{'has-success':andOperator(creditForm.maxValue.$valid,creditForm.maxValue.$dirty),
               'has-error':andOperator(creditForm.maxValue.$invalid,creditForm.maxValue.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.maxValue">maxValue</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="maxValue" 
                required="true"
                ng-attr-placeholder="{{'credit-edit.label.maxValue'|translate}}"
                ng-model="credit.maxValue"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.maxValue.$error.required, creditForm.maxValue.$dirty)"
            translate="credit-edit.validator.maxValue.required">maxValue is required</p>
      </div>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(creditForm.provision.$valid,creditForm.provision.$dirty),
               'has-error':andOperator(creditForm.provision.$invalid,creditForm.provision.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.provision">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="provision" 
                required="true"
                ng-attr-placeholder="{{'credit-edit.label.provision'|translate}}"
                ng-model="credit.provision"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.provision.$error.required, creditForm.provision.$dirty)"
            translate="credit-edit.validator.provision.required">Provison is required</p>
      </div>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(creditForm.installment.$valid,creditForm.installment.$dirty),
               'has-error':andOperator(creditForm.installment.$invalid,creditForm.installment.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.installment">Installment</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="installment" 
                required="true"
                ng-attr-placeholder="{{'credit-edit.label.installment'|translate}}"
                ng-model="credit.installment"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.installment.$error.required, creditForm.installment.$dirty)"
            translate="credit-edit.validator.installment.required">Installment is required</p>
      </div>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(creditForm.interest.$valid,creditForm.interest.$dirty),
               'has-error':andOperator(creditForm.interest.$invalid,creditForm.interest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.interest">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="interest" 
                required="true"
                ng-attr-placeholder="{{'credit-edit.label.interest'|translate}}"
                ng-model="credit.interest"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.interest.$error.required, creditForm.interest.$dirty)"
            translate="credit-edit.validator.interest.required">Interest is required</p>
      </div>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(creditForm.currency.$valid,creditForm.currency.$dirty),
               'has-error':andOperator(creditForm.currency.$invalid,creditForm.currency.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.currency">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                 required="true"
                 ng-model="credit.currencyId"
                 ng-options="currency.currencyId as currency.symbol for currency in currencys"
                 >
         </select>

         <p class="error text-danger"
            ng-show="andOperator(creditForm.currency.$error.required, creditForm.currency.$dirty)"
            translate="credit-edit.validator.currency.required">Currency is required</p>
      </div>
   </div>

   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.changingRate">Changing Rate</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="changingRate" 
                ng-model="credit.changingRate"
                ></input>
      </div>
   </div>

   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-edit.label.insurance">Insurance</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="insurance" 
                ng-model="credit.insurance"
                ></input>
      </div>
   </div>

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'credit-edit.button.save'|translate}}"
                 ng-click="saveCredit()" 
                 ng-disabled="creditForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="credit-edit.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="credit.list" ng-attr-title="{{'credit-edit.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="credit-edit.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
