<h3>
   <span>
      {{'credit-list.label'|translate}}
   </span>
   <button   ng-show="radioModel === 1" class="btn btn-success" ng-click="radioModel = 0">{{'credit-list.label.active'|translate}}</button>
   <button   ng-show="radioModel === 0" class="btn btn-warning" ng-click="radioModel = 1">{{'credit-list.label.archive'|translate}}</button>
</h3>
<div  ng-show="radioModel === 0">
   <div class="row">
      <div class="col-md-6">
         <h4 translate="credit-list.label.count"
             translate-values="{count:'{{creditList.length}}'}"></h4>
      </div>
      <div class="col-md-4">
         <div ng-show="loading">
            <i class="fa fa-spinner fa-spin"></i>
            <span class="text-lowercase">{{'credit-list.label.loading'|translate}}</span>
         </div>
      </div>
      <div class="col-md-2">
         <a class="btn btn-success"
            ui-sref="credit.add" >
            <i class="fa fa-plus-square"></i>
            <span class="hidden-xs" 
                  translate="credit-list.label.add" >
               Create Credit
            </span>
         </a>
      </div>
   </div>

   <h4 class="text-center"
       ng-show="!creditList.length">
      {{'credit-list.label.noData'|translate}}
   </h4>

   <div ng-show="creditList.length">
      <div class="row row-header-bottom">
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.minValue'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.maxValue'|translate}}</div>
         <div class="hidden-xs col-md-1">{{'credit-list.label.credit.interest'|translate}}</div>
         <div class="hidden-xs col-md-1">{{'credit-list.label.credit.provision'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.changingRate'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.insurance'|translate}}</div>
         <div class="col-md-2"></div>
      </div>
      <div class="row row-custom" ng-repeat="credit in creditList = (credits| filter:{ active:true })">
         <div class="col-xs-7 col-md-2">
            <a ui-sref="credit.common.details({id: credit.creditId})">
               {{credit.minValue}}
            </a>
         </div>
         <div class="col-xs-7 col-md-2">
            <a ui-sref="credit.common.details({id: credit.creditId})">
               {{credit.maxValue}}
            </a>
         </div>
         <div class="col-xs-7 col-md-1">
            <a ui-sref="credit.common.details({id: credit.creditId})">
               {{credit.interest}}%
            </a>
         </div>
         <div class="col-xs-7 col-md-1">{{credit.provision}}%</div>
         <div class="col-xs-7 col-md-2">
            <center>
               <span ng-if="credit.changingRate"><i class="fa fa-check" aria-hidden="true"></i></span>
               <span ng-if="!credit.changingRate"><i class="fa fa-times" aria-hidden="true"></i></span>
            </center>
         </div>
         <div class="col-xs-7 col-md-2">
            <center>
               <span ng-if="credit.insurance"><i class="fa fa-check" aria-hidden="true"></i></span>
               <span ng-if="!credit.insurance"><i class="fa fa-times" aria-hidden="true"></i></span>
            </center>
         </div>
         <div class="col-md-2">
            <a class="btn btn-primary"
               ui-sref="credit.edit({id: credit.creditId})" >
               <i class="fa fa-pencil-square-o"></i>
               <span class="hidden-xs" 
                     translate="credit-list.label.edit" >
                  Credit Edit
               </span>
            </a>
            <a ng-if="credit.active"
               class="btn btn-success"
               ng-click="finishCredit(credit.creditId)">
               <i class="fa fa-check-square-o"></i>
               <span class="hidden-xs" 
                     translate="credit-list.label.finish" >
                  Finish credit
               </span>
            </a>
            <a 
               class="btn btn-danger"
               ng-click="deleteCredit(credit.creditId)">
               <i class="fa fa-times"></i>
               <span class="hidden-xs" 
                     translate="credit-list.label.delete" >
                  Credit delete
               </span>
            </a>
         </div>
      </div>
   </div>
</div>

<div ng-show="radioModel === 1">
   <div class="row">
      <div class="col-md-6">
         <h4 translate="credit-list.label.count"
             translate-values="{count:'{{archiveCreditList.length}}'}"></h4>
      </div>
   </div>
   <h4 class="text-center"
       ng-show="!archiveCreditList.length">
      {{'credit-list.label.noData'|translate}}
   </h4>
   <div ng-show="archiveCreditList.length">
      <div class="row row-header-bottom">
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.minValue'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.maxValue'|translate}}</div>
         <div class="hidden-xs col-md-1">{{'credit-list.label.credit.interest'|translate}}</div>
         <div class="hidden-xs col-md-1">{{'credit-list.label.credit.provision'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.changingRate'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'credit-list.label.credit.insurance'|translate}}</div>
         <div class="col-md-2"></div>
      </div>
      <div class="row row-custom" ng-repeat="credit in archiveCreditList = (credits| filter:{ active:false })">
         <div class="col-xs-7 col-md-2">
            {{credit.minValue}}
         </div>
         <div class="col-xs-7 col-md-2">
            {{credit.maxValue}}
         </div>
         <div class="col-xs-7 col-md-1">
            {{credit.interest}}%
         </div>
         <div class="col-xs-7 col-md-1">{{credit.provision}}%</div>
         <div class="col-xs-7 col-md-2">
            <center>
               <span ng-if="credit.changingRate"><i class="fa fa-check" aria-hidden="true"></i></span>
               <span ng-if="!credit.changingRate"><i class="fa fa-times" aria-hidden="true"></i></span>
            </center>
         </div>
         <div class="col-xs-7 col-md-2">
            <center>
               <span ng-if="credit.insurance"><i class="fa fa-check" aria-hidden="true"></i></span>
               <span ng-if="!credit.insurance"><i class="fa fa-times" aria-hidden="true"></i></span>
            </center>
         </div>
         <div class="col-md-2">
         </div>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'credit-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
